body{
   background: cornflowerblue;
   display: contents;
   height: auto;
   width: auto;
}
.div{
   background-color: aquamarine;
   font-family:cursive ;
   font-style: italic;
}
ul,li{
   background-color: antiquewhite;
   border: 5px solid 1px ;
}